/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  font-size: 15px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #D1D1D1;
}
h1, h2, h3, h4, h5, h6 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
a {
  color: #63a52a;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #90D355;
}
h1.title {
  margin: 30px 20px 10px;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, serif;
  text-align: center;
  border: 0;
}
.wrapper {
  width: 675px;
  margin: 0 auto;
}

#container {
  border: 1px solid #2a2a2a;
  background: #ddd url(../images/pattern.png);
  box-shadow: 0 0 5px #b1b1b1;
}

p.tagline {
  padding: 10px 20px 0;
  color: #fff;
  font-size: 17px;
}

#main {
  margin-top: 20px;
  padding: 0 20px 90px;
  background-color: #fff;
}
.download-bar {
  background: #222;
  border: 5px solid #444;
  padding: 10px;
  margin: 0px -35px 20px;
  position: relative;
}
.download-bar .inner {
  overflow: hidden;
}
.download-bar .inner p {
  font-size: 16px;
  color: white;
  font-family: 'Microsoft yahei', 宋体;
  margin: 0;
  margin-left: 10px;
}
pre {
  padding: 10px;
  font-family: monospace;
  font-size: 13px;
  line-height: 20px;
  /*box-shadow: inset 0 0 5px #000;*/
  word-wrap: break-word;
  background-color:#f8f8f8;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;

}
blockquote {
  margin-left: 0;
  padding-left: 20px;
  border-left: 4px solid #dddddd;
  color: #777;
}